<div class="row" ng-show="error">
    <div class="col-md-12">
        {{error}}
    </div>
</div>

<div class="row" ng-hide="error">
    <div class="col-md-12">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row" ng-hide="error">
    <div class="col-md-12">
        <input type="search" ng-model="q" placeholder="filter quotes..." aria-label="filter quotes" />
    </div>
</div>

<div class="row animate-repeat"  ng-hide="error" ng-repeat="quote in quotes | filter:q as results track by quote.author">
    <div class="col-md-12">
        [{{$index + 1}}] {{quote.quote}}, author: {{quote.author}}, year: {{quote.year}}
    </div>
    <div class="col-md-12" ng-if="results.length === 0">
        <strong>No results found...</strong>
    </div>
</div>
