<div class="row" ng-show="error">
    <div class="col-md-12">
        {{error}}
    </div>
</div>

<div class="row" ng-hide="error">
    <div class="col-md-12">
        <h1>{{title}}</h1>
    </div>
</div>

<div class="row page-header" ng-hide="error">
    <div class="col-md-12">
        <md-input-container>
            <input type="search" ng-model="q" placeholder="filter quotes..." aria-label="filter quotes"/>
        </md-input-container>
    </div>
</div>


<div class="row animate-repeat" ng-hide="error"
     ng-repeat="quote in quotes | filter:q as results track by quote.author">

    <md-card class="col-md-12">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{quote.quote}}</span>
                <span class="md-subhead">author: {{quote.author}}</span>
                <span class="md-subhead">year: {{quote.year}}</span>
                <span class="md-subhead">source: {{quote.source}}</span>
                <span class="md-subhead">created: {{quote.created  | date}}</span>
                <span class="md-subhead">modified: {{quote.modified  | date}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-show='checkUserRole("admin") ||  checkUserRole("editor")'>Edit</md-button>
            <md-button ng-show='checkUserRole("admin") ||  checkUserRole("editor")'>Delete</md-button>
        </md-card-actions>
    </md-card>

    <div class="col-md-12" ng-if="results.length === 0">
        <strong>No results found...</strong>
    </div>
</div>